

/* PALETA */

/* #089896, #2A7F84, #F1882D, #EF6145, #A12775 */


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

*{
    box-sizing: border-box;
}

html{
    padding:0;
}

body{
    background-color: #a84885;
    margin:0;
}

#pagePadding{
    margin: 0 10%;
    background-color: #A12775;
    min-height: 100vh;
}

#playerContent{
    width: 100%;
    height: 400px;
    display: none;
    float: right;
}
#pageHeader{
    margin-top: 0;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
#deadLogo{
    width:50%;
}
#player{
    
}
#datePickContainer{

}


/* RESULTS */

#resultsContainer{
    clear: both;
    
}
#resultsTable{
    border-collapse: collapse;
    float: left;
    width: 40vw;
}
#resultsTable>tr>td{
    border: 2px solid #fa1f0f;
    padding: .5rem
}
#resultsTable>tr, #songTable>tr{
    cursor: pointer;
}
#resultsTable :hover{
    background-color: rgb(255, 239, 169) !important;     /* nie wiem czemu tutaj trzeba important ale inaczej highlightuje tylko cell*/
}
.tableRowActive{
    background-color: rgb(255, 208, 0) !important;
}

#showNotFound{
    display: none;
} 

#uncleSamGif{
    height:0;
    transition: .4s;
}

.formButtons{
    cursor: pointer;
}

/* TODAY SHOWS */

#todayShowsContainer{
    float:right;
    
    background-color: #2A7F84;
    border: 10px solid #EF6145;
    box-shadow: inset 0px 0px 0px 12px rgba(241, 136, 45, 1);
    padding: 2rem;
}
#todayShowsList{
    margin:0;
}
#todayShowsList>li{
    transition: .25s;
}
#todayShowsList>li:hover{
    color: rgb(224, 196, 105);
}
.todayShowLink{
    cursor: pointer;
}


/* SHOW SELECTOR */

#selectDivTabWindow{
    width:30%;
    float:left;

    background-color: #2A7F84;
    border: 10px solid #EF6145;
    

}
.activeSelectDiv{
    display:block;
}
.notactiveSelectDiv{
    display:none;
}
.selectTab{
    float:left;
    width:50%;
    background-color: #e6a653;
    color:black;
    transition: .2s;
    text-align: center;
    padding:.5rem;

    border:2px solid #EF6145;
    border-bottom: 4px solid #EF6145;;
}
.activeTab{
    /* background-color: rgba(239, 97, 69, 0.616); */
    transition: .3s;
    letter-spacing: .2rem;
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, 0.6);
}
#selectDivWrapper{
    clear: both;
    padding:2rem;
    box-shadow: inset 0px 0px 0px 12px rgba(241, 136, 45, 1);
    min-height: 16rem;
}
.selectDiv{
    box-sizing: border-box;
    padding:2%;
    
}
.selectDivHeader{
    margin-top:0;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}

.choiceTab{
    width:33.33%;
    float:left;
    background-color: #eb9f5c;
    padding:.5rem;
    text-align: center;
    border: 2px solid black;
    user-select: none;
    cursor: pointer;
}

#yearContent, #eraContent{
    display: none;
}

.choiceActive{
    background-color:#e7735c;
}


@media(max-width: 768px){
    #selectDivTabWindow{
        width: 100%;
    }
}


#mediaPlayer{
    width: 100vw;
    position: fixed;
    bottom: 0;
    left:0;
    background-color: rgb(49, 49, 49);
    color:white;
    z-index: 100;
}

#mediaPlayer > div{
    border:2px solid rgb(0, 99, 0);
    padding: 1em;
}

#infoDiv{
    float:left;
    width:30%;
}

#progressDiv{
    float: left;
    width: 40%;
}

#currentTime{
    width: 10%;
    float: left;
    text-align: center;
}

#songProgressBar{
    width: 80%;
    float: left;
}

#totalTime{
    width: 10%;
    float: left;
    text-align: center;
}

#controlDiv{
    float:left;
    width: 30%;
    text-align: center;
}

#volumeDiv{
    width: 30%;
    float: left;
}

#buttonsDiv{
    width: 70%;
    float:right;
}

#songTable{
    border-collapse: collapse;
    background-color: rgb(255, 166, 0);
    color: black;
    float: left;
}

#songTable > tr > td{
    background-color: orange;
    border: 1px white solid;
    padding: .5em;
}

#currentSong{
    display: none;
}

#spaceMaker{
    height: 10vh;
    clear: both;
}

#arrow{
    float: left;
    width: 1.5em;
    color: white;
    font-weight: 800;
    font-size: 1.5em;
    height: 1000px;
    position:relative;
    top:100px;
}

#queueDiv{
    position: fixed;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 10;
    user-select: none;
}

#queueDivCollapseButton{
    position:relative;
    top: -1 px;
    background-color: rgb(68, 68, 68);
    color: white;
    padding: .2em .5em;
    display: none;
    margin: 0 1em;
    border: 1px solid white;
    border-bottom: none;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    text-align: center;
    cursor: pointer;
}

#queueTable{
    background-color: rgb(63, 63, 63);
    border-collapse: collapse;
}

#queueTable > tr > td{
    border: 1px white solid;
    color: white;
    padding: .3em .5em;
    cursor: pointer;
}

#shareShowButton{
    display: none;
}