#playerContent{
    
}
#pageHeader{
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
#player{
    display: none;
    float: right;
    width: 46%;
    padding:2%
}
#datePickContainer{
    float: left;
    width: 46%;
    padding: 2%;
}
#resultsContainer{
    clear: both;
    
}
#resultsTable{
    border-collapse: collapse;
}
#resultsTable>tr>td{
    border: 2px solid #fa1f0f;
    padding: .5rem
}
#resultsTable>tr{
    cursor: pointer;
}
.showRecord{
    transition: .3s;
}
.showRecord:hover{
    background-color: rgb(255, 187, 187);
}
/* 
#showNotFound{
    display: none;
} */

#uncleSamGif{
    height:0;
    transition: .4s;
}
.tableRowActive{
    background-color: rgb(255, 208, 208);
}
.formButtons{
    cursor: pointer;
}
#todayShowsList>li{
    transition: .25s;
}
#todayShowsList>li:hover{
    color: rgb(214, 110, 24);
}