

/* PALETA */

/* #089896, #2A7F84, #F1882D, #EF6145, #A12775 */


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

*{
    box-sizing: border-box;

    
}

body *:not(#showRecord, #showRecord *) {
    font-family: 'Kanit', sans-serif;
}

.showRecord{
    
    font-family: 'Permanent Marker', cursive;
}







html{
    padding:0;
}

body{
    background-color: #a84885;
    margin:0;
}

#pagePadding{
    margin: 0 10%;
    background-color: #A12775;
    min-height: 100vh;
    padding: 0 1.5rem;
}

#playerContent{
    width: 100%;
    height: 400px;
    display: none;
    float: right;
}
#pageHeader{
    margin-top: 0;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
#deadLogo{
    width:50%;
}
#player{
    
}
#datePickContainer{

}

#leftPanel{
    width:30%;
    float:left;
}

#rightPanel{
    width:70%;
    float:right;
    padding-left: 3rem;
}




/* RESULTS */

#resultsContainer{
    clear: both;

    
    
}
#resultsTable{

    color:black;
    /* text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px; */
    border-collapse: collapse;
    float: left;
    width: 80%;
    
}
#resultsTable>td, th{
    border: none;
}
#resultsTable>tr>td{
    border:none;
    padding: 1rem .5rem;
}
#resultsTable>tr, #songTable>tr{
    cursor: pointer;
}


#showNotFound{
    display: none;
} 

#uncleSamGif{
    height:0;
    transition: .4s;
}

.formButtons{
    cursor: pointer;
}

.showRecord{
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    transition: .15s !important;
    font-family: 'Permanent Marker', cursive !important;

}
.showRecord:hover{
    transform: scale(1.1);
    transition: .2s;
    margin:0;
    padding:0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}  




/* TODAY SHOWS */

#todayShowsContainer{
    
    background-color: #2A7F84;
    border: 10px solid #EF6145;
    border-top: 0;
    box-shadow: inset 0px 0px 0px 12px rgba(241, 136, 45, 1);
    padding: 2rem;
    color:rgb(255, 240, 213);
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    border-bottom-left-radius: 2rem;
}
#todayShowsList{
    margin:0;
}
#todayShowsList>li{
    transition: .25s;
}
#todayShowsList>li:hover{
    color: rgb(224, 196, 105);
}
.todayShowLink{
    cursor: pointer;
}


/* OPTIONS */

#optionsWrapper{
    background-color: #2A7F84;
    border: 10px solid #EF6145;
    border-top: 0;
    box-shadow: inset 0px 0px 0px 12px rgba(241, 136, 45, 1);
    padding: 2rem;
    color:rgb(255, 240, 213);
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}
#skipTuning{
    margin-bottom: 0;
}

/* SHOW SELECTOR */

#selectDivTabWindow{
    position: relative;

    background-color: #2A7F84;
    border: 10px solid #EF6145;
    

}
#selectDivTabWindow .formButtons{
    position:absolute;
    bottom: 2rem;
    right: 2rem;
}
.activeSelectDiv{
    display:block;
}
.notactiveSelectDiv{
    display:none;
}
.selectTab{
    float:left;
    width:50%;
    background-color: #e6a653;
    color:black;
    transition: .2s;
    text-align: center;
    padding:.5rem;

    border:2px solid #EF6145;
    border-bottom: 4px solid #EF6145;;
}
.activeTab{
    /* background-color: rgba(239, 97, 69, 0.616); */
    transition: .3s;
    letter-spacing: .2rem;
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, 0.6);
}
#selectDivWrapper{
    clear: both;
    padding:2rem;
    box-shadow: inset 0px 0px 0px 12px rgba(241, 136, 45, 1);
    min-height: 13rem;
}
.selectDiv{
    box-sizing: border-box;
    padding:2%;
    
}
.selectDivHeader{

    color:rgb(255, 240, 213);
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    margin-top:0;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}

.choiceTab{
    width:33.33%;
    float:left;
    background-color: #eb9f5c;
    padding:.5rem;
    text-align: center;
    border: 2px solid black;
    user-select: none;
    cursor: pointer;
}

#yearContent, #eraContent{
    display: none;
}

.choiceActive{
    background-color:#e7735c;
}


@media(max-width: 768px){
    #selectDivTabWindow{
        width: 100%;
    }
}


/* PLAYER */


#mediaPlayer{
    width: 100vw;
    position: fixed;
    bottom: 0;
    left:0;
    background-color: rgb(49, 49, 49);
    color:white;
    z-index: 100;
}

#mediaPlayer > div{
    border:2px solid rgb(0, 99, 0);
    padding: 1em;
}

#infoDiv{
    float:left;
    width:30%;
}

#progressDiv{
    float: left;
    width: 40%;
}

#currentTime{
    width: 10%;
    float: left;
    text-align: center;
}

#songProgressBar{
    width: 80%;
    float: left;
}

#totalTime{
    width: 10%;
    float: left;
    text-align: center;
}

#controlDiv{
    float:left;
    width: 30%;
    text-align: center;
}

#volumeDiv{
    width: 30%;
    float: left;
}

#buttonsDiv{
    width: 70%;
    float:right;
}


/* SONG TABLE */

#setlistWrapper{
    display: none;
    transition: bottom .6s, top .6s, left .6s, right .6s;
    height: 73%;
    position:fixed;
    top: 10%;
    max-height: 73%;
    z-index: 10000;
    /* overflow-y: scroll; */


    
}

#setlistRelative{
    height: 100%;
}

#setlistPull{
    position:absolute;
    z-index: -10;
    height: 10rem;
    cursor: pointer;
}

#songTableScroll{
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.boxShadow{
    -webkit-box-shadow: 0px 0px 8px 6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 8px 6px rgba(66, 68, 90, 1);
}


#songTableScroll::-webkit-scrollbar{
    display: none;
}



#setlistRelative{
    position: relative;
}

#songTable{
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    color: black;
    float: left;
    background-image: url("../img/watercolor-paper-texture.jpg");
    overflow-y:hidden;
}

#songTable > tr > td{

    border: none;
    padding: .5em;
    font-family: "Coming Soon", cursive;
    font-weight: 600;
  font-style: normal;
}

#songTable > tr{
    transition: .3s;
}

#songTable > tr:hover{
    background-color: #eb9f5c9c;
}









#currentSong{
    display: none;
}

#spaceMaker{
    height: 10vh;
    clear: both;
}


/* QUEUE */

#arrow{
    float: left;
    width: 1.5em;
    color: white;
    font-weight: 800;
    font-size: 1.5em;
    height: 1000px;
    position:relative;
    top:100px;
}

#queueDiv{
    position: fixed;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 10;
    user-select: none;
}

#queueDivCollapseButton{
    position:relative;
    top: -1 px;
    background-color: rgb(68, 68, 68);
    color: white;
    padding: .2em .5em;
    display: none;
    margin: 0 1em;
    border: 1px solid white;
    border-bottom: none;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    text-align: center;
    cursor: pointer;
}

#queueTable{
    background-color: rgb(63, 63, 63);
    border-collapse: collapse;
}

#queueTable > tr > td{
    border: 1px white solid;
    color: white;
    padding: .3em .5em;
    cursor: pointer;
}

#shareShowButton{
    display: none;
}